Script.sql
Archivarius/Archivarius/Archivarius/bin/Debug/CertificateData/Certificate.pfx
Archivarius/Archivarius/Archivarius/bin/Debug/CertificateData/certificatePassword.txt
Archivarius/Archivarius/Archivarius/bin/Debug/CertificateData/passCreator.txt